<html>

{% load staticfiles %}
<script type="text/javascript" src="static/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<head>
	<!--Para el estático-->
	<link href='{% static "main.css" %}' rel='stylesheet' type='text/css'>
	<!--<link href='main.css' rel='stylesheet' type='text/css'>-->
</head>
<body>
	<div id="header">
		<ul id="navlist">
			{% if user.is_authenticated %}
			    <li>Hola, {{ user.username }}!</li>		
			{% else %}
    			<li><a href="/delivery/login">&iexcl;Inicia sesi&oacute;n!</a></li>		
			{% endif %}				
	    	<li>&iquest;Qui&eacute;nes somos?</li>
    		<li>Ayuda</li>
	    	<li>&iexcl;Cont&aacute;ctanos!</li>
		</ul>
	</div>

	<center>
		 <div id="inicio"> 
		<!-- <div style="background-image: url('{% static "dabba.jpg" %}');opacity:1;top: 100px;text-align:center;height:400px; width:600px;"> -->
			<h1>dabbawala</h1>
			<h3>{{user.username}} checkout</h3>
			
			<form action="/payment/{{ request_id }}" method="POST">
    {% csrf_token %}
    <div id="ca-container" class="ca-container">
				<div class="ca-nav"><span class="ca-nav-prev">Previous</span><span class="ca-nav-next">Next</span></div>
					<div class="ca-wrapper">
						{% for item in product_list %}
        					<div class="ca-item ca-item-{{ item.product.id }}">
            					<div class="ca-item-main">
                    				<img src="/media/{{ item.product.photo }}">
                					<div class="ca-icon">
                					</div>
                					<h2>{{ item.product.name }}</h2>
                					<h3>
                    				<span class="ca-quote">“</span>
                    				<span>{{ item.product.description }}</span>
                					</h3>
            					</div>
      
        					</div>
						{% endfor %}
				</div><!-- ca-wrapper -->
			</div><!-- ca-container -->
	<strong>Total</strong>: {{ total }} USD
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_wSObXzm2szNaZC4175hLmEd0"
        data-amount="{{ cents_total }}"
        data-name="Request Pay"
        data-description="Dabbawala food delivery service :D"
        data-image="/static/dabbawala.jpg">
        </script>
	</form>
		</div>
	</center>
	
	<!--<img src='{% static "dabba.jpg" %}'/>-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src='{% static "jquery.easing.1.3.js" %}'></script>
		<!-- the jScrollPane script -->
		<script type="text/javascript" src='{% static "jquery.mousewheel.js" %}'></script>
		<script type="text/javascript" src='{% static "jquery.contentcarousel.js" %}'></script>
		<script type="text/javascript">
			$('#ca-container').contentcarousel();
		</script>

	
</body>
</html>
