<html>

{% load staticfiles %}
<script type="text/javascript" src="/static/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<head>
	<!--Para el estático-->
	<link href='{% static "main.css" %}' rel='stylesheet' type='text/css'>
	<!--<link href='main.css' rel='stylesheet' type='text/css'>-->
</head>
<script type="text/javascript">

//function to create a django hidden form with custom inputs
function post(path, params, method) {
    method = method || "POST"; 
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    
    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
			//hiddenField.setAttribute("csrfmiddlewaretoken","{{csrf_token}}");
            form.appendChild(hiddenField);
         }        
    }    
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "csrfmiddlewaretoken");
    hiddenField.setAttribute("value", "{{csrf_token}}");
    form.appendChild(hiddenField);
    document.body.appendChild(form);
    form.submit();
}

function modifyQ(item_id) {
	quantiy = document.getElementById('q_input_'+item_id).value;
	post("",{"mod_item":item_id,"quantity":quantiy}); 
}
function order() {
	dir = document.getElementById('dir').value;
	if(dir.trim().length<1){
		alert("Debe ingresar una direccion");
	}else{
		post("",{"dir":dir}); 
	}
}

</script>
<body>
	<div id="header">
		<ul id="navlist">
			{% if user.is_authenticated %}
			    <li><a href="/delivery/logout">Log out</a></li>	
			    <li>Hola, {{ user.username }}!</li>		
			{% else %}
    			<li><a href="/delivery/login">&iexcl;Inicia sesi&oacute;n!</a></li>		
			{% endif %}				
		</ul>
	</div>

	<center>
		 <div id="inicio"> 
		<!-- <div style="background-image: url('{% static "dabba.jpg" %}');opacity:1;top: 100px;text-align:center;height:400px; width:600px;"> -->
			<h1>dabbawala</h1>
			<h3>{{user.username}} checkout</h3>
			
    <div id="ca-container" class="ca-container">
					<div class="ca-wrapper">
						{% for item in product_list %}
        					<div class="ca-item ca-item-{{ item.product.id }}">
            					<div class="ca-item-main">
                    				<img src="/media/{{ item.product.photo }}" style="position:relative;height:50%;width:90%;">
                					<div style="position:relative;height:50%;width:90%;">
                					<font size="5" color="white">{{ item.product.name }}</font><br>
                    				<span class="ca-quote">“</span>
                    				<span>{{ item.product.description }}</span>
                    				<br>
                					<input class="textbox_m" name="q_input" id="q_input_{{item.product.pk}}" type="number" min="1" value="{{item.amount}}"/>
                    						<button id="mod_b" class="m_button" onClick="modifyQ( {{item.product.pk}} )">Save quantity</button>
                					</div>
            					</div>
      
        					</div>
						{% endfor %}
				</div><!-- ca-wrapper -->
			</div><!-- ca-container -->
	<strong>Total</strong>: {{ total }} USD
		</div>
	</center>
	<div id="a_panel" class="a_panel">	

	</div>
	
<div id="a_panel" class="a_panel">
	<h4>
		Ingresa tu dirección!!!
	</h4>
	<input id="dir" class="dir" name="dir" type="text" style="width:180px;"/>	
	<button onClick="order()">
		Ordnar ahora
	</button>
</div>
	
	<!--<img src='{% static "dabba.jpg" %}'/>-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src='{% static "jquery.easing.1.3.js" %}'></script>
		<!-- the jScrollPane script -->
		<script type="text/javascript" src='{% static "jquery.mousewheel.js" %}'></script>
		<script type="text/javascript" src='{% static "jquery.contentcarousel.js" %}'></script>
		<script type="text/javascript">
			$('#ca-container').contentcarousel();
		</script>

	
</body>
</html>
