{% load staticfiles %}

<html>

<head>
	<!--Para el estático-->
	<link href='{% static "main.css" %}' rel='stylesheet' type='text/css'>
	<!--<link href='main.css' rel='stylesheet' type='text/css'>-->
</head>
<body>
	<div id="header">
		<ul id="navlist">
			{% if user.is_authenticated %}
			<li>Hola, {{ user.username }}!</li>		
			{% else %}
			<li><a href="/delivery/login">&iexcl;Inicia sesi&oacute;n!</a></li>		
			{% endif %}				
			<li>&iquest;Qui&eacute;nes somos?</li>
			<li>Ayuda</li>
			<li>&iexcl;Cont&aacute;ctanos!</li>
				
		</ul>
	</div>



	<center>
		 <div id="inicio"> 
		<!-- <div style="background-image: url('{% static "dabba.jpg" %}');opacity:1;top: 100px;text-align:center;height:400px; width:600px;"> -->
			<h1>dabbawala</h1>
			<h3>ordena r&aacute;pido y seguro</h3>
		</div>
	</center>
	
	<!--<img src='{% static "dabba.jpg" %}'/>-->

	{% if latest_products %}
		<ul>
		{% for p in latest_products %}
        <li><a href="/productos/{{ p.name }}/"><strong>{{ p.name }}</strong>: {{ p.description }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No hay productos registrados</p>
	{% endif %}
	
</body>
</html>
