
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
		<!--Para el estático-->
		<link href='{% static "main.css" %}' rel='stylesheet' type='text/css'>
		<!-- <link href='main.css' rel='stylesheet' type='text/css'> -->
	
        <title>Dabbawala</title>
    </head>

    <body>
		<div id="main">
			<h1>Register with Dabbawala</h1>

			{% if registered %}

			<strong>&iexcl;Gracias por registrarte!</strong>
			<a href="/delivery/">Regresar a la p&aacute;gina principal.</a><br />

			{% else %}

			<form id="user_form" method="post" action="/delivery/register/" enctype="multipart/form-data">
				{% csrf_token %}
				{{ user_form.as_p }}
				{{ profile_form.as_p }}
				<input type="submit" name="submit" value="Register" />
			</form>
			{% endif %}
		</div>
    </body>
</html>
