{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
		<!--Para el estático-->
		<link href='{% static "main.css" %}' rel='stylesheet' type='text/css'>
		<!-- <link href='main.css' rel='stylesheet' type='text/css'> -->
		<script type="text/javascript" src= 'https://www.google.com/jsapi'></script>
		<style type="text/css"> 
			#chart_div {
			  	width: 900px;
			  	height: 500px;
			}

		</style>
		
        <title>Dabbawala - Reports</title>
    </head>

    <body>
		<div id="main">
			<h1>Reportes</h1>
			<script>
			function Hide(){
			    if(document.getElementById('id_kind').options[document.getElementById('id_kind').selectedIndex].value == "P"){
			         document.getElementById('id_product').style.display = '';
			    }else{
			         document.getElementById('id_product').style.display = 'none';
			    }
			}
			</script>
			<form id="report_form" method="post" action="/report/" enctype="multipart/form-data">
				{% csrf_token %}
				<div>
					<label>Kind</label>
					{{form.kind}}
				</div>
				<div id="id_product">
					<label>Product</label>
					{{form.product}}
				</div>
				<div>
					<label>Start Date</label>
					{{form.start_date}}
				</div>
				<div>
					<label>End Date</label>
					{{form.end_date}}
				</div>
				<label>{{lab}}</label>
				<input type="submit" name="submit" value="Generar" />
			</form>
			<div id="chart_div">
				<script>
					google.load("visualization", "1", {packages:["corechart"]});
					google.setOnLoadCallback(drawChart);
					function drawChart() {
						var data = google.visualization.arrayToDataTable({{arr|safe}});

						var options = {
							title: 'Reporte',
							legend: {position: 'bottom'},
							focusTarget: 'category',
							pointSize: 5,
							tooltip: {trigger: 'focus'}
						};

						var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

						chart.draw(data, options);
					}
	        	</script>

			</div>
		</div>	
    </body>
</html>
