

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	background-color :#21335C;
}

#header{
	height: 40px;
}

#navlist li
{

display: inline;
list-style-type: none;
padding-right: 20px;
float: right;
}

#main{
	position: absolute;
  top: 35%;
  left: 50%;
  width:500px;
  transform: translate(-50%,0);

}

#inicio{
	background-image: url('/static/dabba.jpg');
	opacity:1;
	top: 100px;
	text-align:center;
	height:400px; width:600px;
}

h1{
font-size: 50px;

}


.productos{

	height:600px;
	width:400px;
}

.container {
    width: 200px;
    height: 120px;
	text-align:center;	
	top: 100px;
}

img {
    max-width: 100%;
    height: auto;
}
.productos{

	height:600px;
	width:400px;
}

#login{
	border-radius: 5px;
	color: #FFFFFF;
	background: #354872;
	width:400px;
	height:auto;
	padding:0px;
	border-right-style:solid;
	border-right-color:#000000;
	border-right-width:thin;
	padding-right:3px;
	border-left-style:solid;
	border-left-color:#000000;
	border-left-width:thin;
	padding-left:3px;
	border-top-style:solid;
	border-top-color:#000000;
	border-top-width:thin;
	padding-top:3px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	border-bottom-width:thin;
	padding-bottom:3px;
}


a:link{
	color:white;
}
a:visited{
	color:white;
}
a:hover{
	color:white;
}
a:active{
	color:white;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: #fff;

}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #fff;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #fff;
	position: relative;
}

.jspDrag
{
	background: #000;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 10px;
}

.jspHorizontalBar .jspArrow
{
	width: 10px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:800px;
	height:250px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
.ca-item{
	position:relative;
	float:left;
	width:200px;
	height:100%;
	text-align:center;
	background: #CEECF5;
}
.ca-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}
.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(/static/images/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:5px;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background: #fff;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.ca-icon{
	width:233px;
	height:189px;
	position:relative;
	margin:0 auto;
	/*background:;*/
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:240px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(/static/images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}
